h1, h2, h3, h4 {
  margin: 0;
}
.iw-content {
  padding: 8px;
  display: flex;
  flex-wrap: wrap;
}

.iw-title{
  background-color: #506187;
  color: #ffffff;
  padding: 8px;
  margin: 0;
}
.iw-pic {
  padding: 8px;
}

.mapboxgl-popup-content {
  padding: 0;
  margin-top: -10px;
  /* box-shadow: 2px 2px 2px #00000050; */
}
.mapboxgl-popup-tip {
  padding: 0;
  /* margin-top: -10px; */
  /* box-shadow: 2px 2px 2px #00000050; */
}
.mapboxgl-popup-close-button {
  color: #fff;
  font-size: 1.2em;
}

.gm-style-iw {
  width: 350px !important;
  top: 15px !important;
  left: 0 !important;
  background-color: #fff;
  box-shadow: 0 1px 6px rgba(178, 178, 178, 0.6);
  border: 1px solid #506187;
  border-radius: 1px 1px 0 0;
}

.Filter {
  position: absolute;
  top: 64px;
  right: 0;
  width: 19.5%; 
  border: 4px solid #506187;
  height: 100%;
}

.filter-header {
  padding: 8px;
  color: #ffffff;
  background: #506187;
}

.filter-section {
  padding: 8px;
}

.filter-section-heading {
  font-weight: 500;
  font-size: 1.25em;
  margin-bottom: 4px;
}

.filter-count {
  font-size: 0.75em;
  color: #999;
}

.filter-checkbox {
  opacity: 0.75;
}

.filter-checkbox:hover {
  opacity: 1;
}

.filter-checkbox label {
  margin-left: 4px;
}

.img-dot, .active-img-dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin: 3px;
  opacity: 0.8;
  background: #ccc;
}

.img-dot:hover {
  background: #000;
}

.active-img-dot {
  background: #000;
}

.img-dots {
  display: flex;
  justify-content: center;
  flex: 0 0 100%;
}

.chevron-right, .chevron-left {
  opacity: .8;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.chevron-left {
  left: 0;
}

.chevron-right {
  right: 0;
}

.chevron-left:hover path, .chevron-right:hover path {
  fill: #000;
  opacity: 1;
}

.drawer-completion-date, .drawer-pop {
  display: flex;
  align-items: center;
}

.drawer-heading {
  color: #506187;
}

.drawer-completion-date strong, .drawer-pop strong {
  flex-grow: 0.5;
}

.drawer-completion-date p, .drawer-pop p {
  text-align: end;
}

.drawer-close {
  border: 2px solid #506187;
  border-radius: 50%;
  padding: 5px;
  display: flex;
  width: 10px;
  height: 10px;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 10px;
  right: 10px;
  color: #506187;
}

.drawer-close:hover{
  background: #506187;
  color: #fff;
  cursor: pointer;
}

.Admin {
  padding: 24px;
}

.projects-header {
  text-align: center;
  color: #fff;
  flex-grow: 1;
}

.MuiTableRow-root-255.MuiTableRow-hover-257 {
  cursor: pointer;
}

.Project {
  padding: 24px;
}

.all-projects {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
}

.projects-header-container {
  margin: 30px 0;
  width: 100%;
  display: flex;
  align-items: flex-start;
}

.add-project {
}

.project-paper {
  padding: 20px;
}

.project-page-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.project-page-header h1 {
  flex-grow: 1;
}

.project-page-description {
  font-size: 1.15em;
}

.photos-to-upload {
  text-align: center;
  padding: 20px;
  color: #fff;
}

.number-of-photos {
  font-size: 3em;
  font-weight: 700;
}

.snack-div {
  display: flex;
  align-items: center;
}

.project-photo-container, .edit-project-photo-container {
  margin: 8px 16px 8px 0px;
  border-radius: 4px;
  position: relative;
}

.project-photos-container {
  display: flex;
  flex-wrap: wrap;
  
}


.edit-project-photo-container {
  border: 2px solid #1a74fc;
  cursor: pointer;
}
.edit-project-photo-container.removed {
  border: 2px solid #ff3251;
  cursor: pointer;
}

.photo-check, .photo-removed {
  position: absolute;
  width: 20px;
  right: 3px;
  top: 3px;
}

.photo-check:nth-child(2) {
  fill: #1a74fc;
}

.photo-removed:nth-child(2) {
  fill: #ff3251;
}

.project-table-row {
  text-decoration: none;
}
.project-table-row:hover td {
  color: #1a74fc;
}

.login-paper {
  padding: 20px;
}

.login-paper Button {
  margin-top: 10px;
}

.Navbar {
  position: absolute;
  padding: 10px;
  top: 10px;
  left: 10px;
}

main {
  background: #506187;
  padding-top: 100px;
  min-height: 100vh;
}
